.pageContainer {
    text-align: center;
}

.upgradesMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.singleUpgrade {
    width: 16em;
    padding: 0.25em 1em;
    background-color: var(--dark-gray);
    border-radius: 2em;
}